body {
    background-color: #1F2937;
}

header {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 135px;
}

#nav-header {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-btns {
    font-size: 18px;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
}